<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">

    <img 
    class="rounded-full w-12 h-12l"
    src='https://media.licdn.com/dms/image/D4E03AQH3ZLRwfEzbPg/profile-displayphoto-shrink_200_200/0/1694621165839?e=2147483647&v=beta&t=O3CtuppFdgpSJQiPZ-JrNQX_44L39YbuC2saS0p09gE' 
    alt="nico photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/contact">contact</a>
    </nav>
</header>